
<br><br><br>
<h1>Welcome to <h1/><h1 id="logo">Petsmatch!</h1></h1><br>

<div class="user-login">
<h2> You are viewing: <em><br>Mr Reynolds Healthy Animal Skins' Shop</em></h2>
<h2>Input login details</h2>
<form method="post" action="login">

  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name"/>
  <br>
  <label for="second_name">second_name:</label>
  <input type="text" name="second_name" id="second_name"/>
  <br>
  <label for="has_garden"></label>
  Do you have a garden?<input type="radio" name="has_garden" id="has_garden" value="t"> Yes
  <input type="radio" name="has_garden" id="has_garden" value="f"> No
  <br>
  <label for="has_no_pets"></label>
  Do you currently have any pets?<input type="radio" name="has_no_pets" id="has_no_pets" value="f"> Yes
  <input type="radio" name="has_no_pets" id="has_no_pets" value="t"> No
  <br>
  <label for="lives_with_others"></label>
  Do you live with other people who can help take care of the animal?<input type="radio" name="lives_with_others" id="lives_with_others" value="t"> Yes
  <input type="radio" name="lives_with_others" id="lives_with_others" value="f"> No
  <br>
  <input type="submit" class="button" style="color:blue;" value="Register and find your pet!"/>

</form>
</div>
