<h1> Welcome to <h1 id="logo">Petsmatch! </h1></h1>
<br>
<div class="edit">
<h2>Login as:</h2>
<br>
<a href="./manager/welcome"><button type="button">Manager?</button></a>
<br>
<a href="./owner/welcome"><button type="button">Animal Lover?</button></a>
</div>
