<ul class="nav-bar">
  <li><a class="nav-link" href="http://localhost:4567/manager/welcome">Home</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/animals" class="active">Animals</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/owners">Owners</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/adoptions">Adoptions</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/requests">Requests</a></li>
</ul>
<ul class="filter-bar">
  <li><a class="filter-link" href="http://localhost:4567/manager/create_adoption">Add adoption</a></li>
</ul>
</div>
<div class="list">
<% for adoption in @adoptions %>
  Owner: <%=adoption.owner.first_name%> <%=adoption.owner.second_name%>
  <br>
  Animal: <%=adoption.animal.name%>
  <hr>
<% end %>

<a href="create_adoption"><button>Create adoption</button></a><br><br>
</div>
