<ul class="nav-bar">
  <li><a class="nav-link" href="http://localhost:4567/manager/welcome">Home</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/animals" class="active">Animals</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/owners">Owners</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/adoptions">Adoptions</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/requests">Requests</a></li>
</ul>
<ul class="filter-bar" id="edit-bar">
  <li><a class="filter-link" href="http://localhost:4567/manager/create_animal"</a>Add animal</li>
  <li><a class="filter-link" href="http://localhost:4567/manager/animals/available_only" class="active">Available Animals</a></li>
  <li><a class="filter-link" href="http://localhost:4567/manager/animals/unavailable_only">Unavailable</a></li>
</ul>
<div class="list">
<p>The animal has been removed.</p>
<br>
<a href="../../animals"><button>Back to index?</button></a>
</div>
